html,
body {
    height: 100%;
}

#container {
	padding: 100px 0;
    
    background-image:url('background.jpg');
    
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.jumbotron { 
	border-radius: 25px;
	width: 40%;
	padding: 5%;
	margin: 0 0 0 4%;
	background-color:rgba(238,238,238,0.8);
}

.main-container {
	overflow: auto;
	height: 20%;
	margin: 0 auto;
	padding: 15% 5%;
	background-color: white;
	text-align: center;
}

#fingers, #toes{
  border: 1px solid black;
}

#error{
  display: none;
  color: red;
}